---
title: "Media & Outreach"
permalink: /outreach/
layout: single
author_profile: true
---


<div class="outreach-list">
  {% for post in site.outreach reversed %}
      {{ post.date | date: "%b %Y" }} <b>{{ post.organization }}</b><br>
      {% if post.link %}
        <a href="{{ post.link }}" target="_blank">{{ post.summary }}</a>
      {% elsif post.file %}
        <a href="{{ post.file }}" target="_blank">{{ post.summary }}</a>
      {% else %}
        {{ post.summary }}
      {% endif %}
    <br/><br/>
  {% endfor %}
</div>