---
title: "Media & Outreach"
permalink: /outreach/
layout: single
author_profile: true
---

<div class="outreach-list">
  {% for post in site.outreach reversed %}
      {% if post.link %}
        <b><a href="{{ post.link }}" target="_blank">{{ post.title }}</a></b>
      {% elsif post.file %}
        <b><a href="{{ post.file }}" target="_blank">{{ post.title }}</a></b>
      {% else %}
        <b>{{ post.title }}</b>
      {% endif %}
      <br>
      
      {{ post.date | date: "%B %Y" }}<br/> 
      <em>{{ post.summary }}</em>
    <br/><br/>
  {% endfor %}
</div>