---
title: "Talks"
permalink: /talks/
layout: single
author_profile: true
---

<div class="talks-list">
  {% for post in site.talks reversed %}
      {% if post.link %}
        <b><a href="{{ post.link }}" target="_blank">{{ post.date | date: "%B %Y" }} {{ post.type }}, {{ post.event }}, {{ post.location }}</a></b>
      {% else %}
        <b>{{ post.date | date: "%B %Y" }}{{ post.type }}, {{ post.event }}, {{ post.location }}</b>
      {% endif %}
      <br>
          <br/><br/>
  {% endfor %}
</div>